.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    flex-direction: column;
    justify-content: space-around;
}

.container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
}

.temparrowbox {
    width: 40px;
    height: 40px;
}

.temparrowbox:active {
    background-color: lightgrey;
}

#left {
    border-top: 10px solid blue;
    border-left: 10px solid blue;
    transform: rotate(-45deg);
}

#right {
    border-top: 10px solid blue;
    border-right: 10px solid blue;
    transform: rotate(45deg);
}

#up {
    border-left: 10px solid blue;
    border-top: 10px solid blue;
    transform: rotate(45deg);
}

#down {
    border-right: 10px solid blue;
    border-bottom: 10px solid blue;
    transform: rotate(45deg);
}