input {
    padding: 5px 3px;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 10;
    display: flex;
    padding: 100px 0;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 500px;
    row-gap: 25px;
    padding: 30px 15px;
    text-align: center;
    background-color: #fff;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
}

.error {
    color: red;
    font-size: 12px;
    /* position: absolute;
    top: 80%; */
}

#title {
    /* position: absolute;
    top: 120px; */
}

.login-register-switch {
    color: blue;
    font-size: 15px;
    text-decoration: underline;
}

@keyframes rotate {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
}
}

#title {
    animation: rotate 3s infinite alternate ease-in-out;
}